*{margin: 0;
  padding: 0;
  box-sizing: border-box;}
html{
  font-size: 62.5%;
  scroll-behavior: smooth;
  font-family: 'Barlow Semi Condensed', sans-serif;
}

#box1 { 
    grid-area: box1;
    background-color:hsl(263, 55%, 52%);
    color: white;
    
}
#box2 { 
    grid-area: box2;
    background-color:hsl(217, 19%, 35%);
    color: white;
    
}
#box3 { 
    grid-area: box3;
    background-color:white;
    color: #54595f;
    
}
#box4 { 
    grid-area: box4;
    background-color:white;
    color: #54595f;
    
}
#box5 { 
    grid-area: box5;
    background-color:hsl(219, 29%, 14%);
    color: white;
    
}


body{
    
    display: grid;
    width: 100vw;
    height: 100vh;
    justify-items: center;
    align-items: center;    
    background-color: #edf2f8

}
main{
    display: grid;
    grid-template-areas: 
    'box1 box1 box1 box2 box3'
    'box4 box5 box5 box5 box3';
    grid-gap: 3rem;
    width: 85%;
   
}

.box{
    display: grid;
    border-radius:1rem ;
    gap:2rem ;
    justify-items: start;
    align-content: start;
    padding: 2.5rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.box p{
    font-weight: 200;
    font-size: 1.4rem;
    line-height: 1.8rem;
}
.box h1{
    font-weight: 600;
    font-size: 2rem;
}
#box3 p,#box4 p{
    color:rgba(84, 89, 95, 0.7);
}
#box1 p,#box2 p,#box5 p{
    color: rgba(207, 207, 207,0.7)
}
.user_info{
    align-items: center;
    display: grid;
    grid-template-columns: min-content 1fr;
    gap: 1rem;
    font-size:1.5rem ;

}
.user_info img{
    
    width: 4rem;
    border-radius:50%;


}
.user_info div {
    display: grid;
    gap: 0.5rem;
}
#box1  h3 ,#box2  h3,#box5  h3{
    font-size: 1.6rem;
    font-weight: 700;
    color:rgba(207, 207, 207,1)
}

#box1  h4 ,#box2  h4,#box5  h4{
    font-size: 1.2rem;
    font-weight: 500;
    color:rgba(207, 207, 207,0.5);
}
#box3  h3 ,#box4  h3{
    font-size: 1.8rem;
    font-weight: 700;
    color:rgba(84, 89, 95, 1);;
}

#box3  h4 ,#box4  h4{
    font-size: 1.4rem;
    font-weight: 500;
    color:rgba(84, 89, 95, 0.5);;
}

@media screen and (max-width:850px) {
    main{
        grid-template-areas:
        'box1 box1 box1 box2'
        'box3 box3 box3 box3'
        'box4 box5 box5 box5';
    
        margin: 5rem 0rem;
        
    }
    body{
        height: auto;
    }
}
@media screen and (max-width:650px) {
    main{
        grid-template-areas:
        'box1''box2''box3''box4''box5'
    }
}